body{
    font-family: 'Roboto', sans-serif;
}

.navbar-new {
    padding: 3px 7px;
    background-color: #00D7D2;
    color: #031A4F;
    float: left;
    margin-top: 15px;
    font-size: 10px;
}

.nav-link {
    border-bottom: 1px solid rgb(229,232,237);
}

.nav-link a{
    color: #5b6987;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    min-height: 32px;
    margin-top: 5px;
    display: inline-block;
}

.nav-link a:hover{
    color: #006aff;
    text-decoration: none;
}

@media (min-width: 768px) {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 992px) {

    .navbar-collapse.collapse {
        display: block !important;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }
}
