body{
    font-family: 'Roboto', sans-serif;
}

.navbar-new {
    padding: 3px 7px;
    background-color: #00D7D2;
    color: #031A4F;
    float: left;
    margin-top: 15px;
    font-size: 10px;
}

.nav-link {
    border-bottom: 1px solid rgb(229,232,237);
    min-height: 32px;
}

.nav-link a {
    color: #5b6987;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    margin-top: 5px;
    min-height: 32px;
    display: inline-block;
}

.nav-link a:hover {
    color: #006aff;
    text-decoration: none;
}

/* seconda nav */

.navbar-brand {
    padding: 10px 12px;
}

.navbar-brand img {
    max-width: 172px;
    max-height: 28px;
}

.nav-list {
    padding-left: 30px;
}
/*
.nav-list > li > a{
    color: #031A4F;
}

.nav-list > li > a:hover {
    color: #0668FE;
} */

.nav2-link {
    border-bottom: 1px solid rgb(229,232,237);
    min-height: 40px;
}

.nav2-link a {
    color: #031A4F;
    font-weight: 600;
    margin-top: 5px;
    display: inline-block;
}

.nav2-link a:hover {
    color: #006aff;
    text-decoration: none;
}




.btn-primary {
    background-color: #ffff;
    border-color: #006aff;
    color: #006aff;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #006aff;
    border-color: #006aff;
    color: #ffff;
    font-weight: bold;
}

.btn-2 {
    background-color: #006aff;
    border-color: #006aff;
    color: #ffff;
    font-weight: bold;
}

.btn-2:hover {
    background-color: #006aff;
    border-color: #006aff;
    color: #ffff;
    font-weight: bold;
}

.navbar-right {
    padding-right: 20px;
}

@media (min-width: 768px) {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 992px) {

    .navbar-collapse.collapse {
        display: block !important;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }
}
