body{
    font-family: 'Roboto', sans-serif;
}

.navbar-new {
    padding: 3px 7px;
    background-color: #00D7D2;
    color: #031A4F;
    float: left;
    margin-top: 15px;
    font-size: 10px;
}

.nav-link {
    border-bottom: 1px solid rgb(229,232,237);
    min-height: 32px;
}

.nav-link a {
    color: #5b6987;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    margin-top: 5px;
    min-height: 32px;
    display: inline-block;
}

.nav-link a:hover {
    color: #006aff;
    text-decoration: none;
}

/* seconda nav */

.navbar-brand {
    padding: 10px 12px;
}

.navbar-brand img {
    max-width: 172px;
    max-height: 28px;
}

.nav-list {
    padding-left: 30px;
}

.nav2-link {
    border-bottom: 1px solid rgb(229,232,237);
    min-height: 40px;
}

#bs-example-navbar-collapse-1 a {
    color: #031A4F;
    font-weight: 500;
    margin-top: 5px;
    display: inline-block;
}

#bs-example-navbar-collapse-1 a:hover {
    color: #006aff;
    text-decoration: none;
}




.btn-primary {
    background-color: #ffff;
    border-color: #006aff;
    color: #006aff;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #006aff;
    border-color: #006aff;
    color: #ffff;
    font-weight: bold;
}

.btn-2 {
    background-color: #006aff;
    border-color: #006aff;
    color: #ffff;
    font-weight: bold;
}

.btn-2:hover {
    background-color: #006aff;
    border-color: #006aff;
    color: #ffff;
    font-weight: bold;
}

.navbar-right {
    padding-right: 20px;
}

/* jumbo */

.jumbo {
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    height: 850px;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.jumbo h1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    padding-top: 100px;
}

.jumbo p {
    color: white;
    font-size: 24px;
    font-weight: 200;
    line-height: 35px;
    text-align: left;
    padding-top: 20px;
}

/* card */

.card-box {
    max-width: 370px;
    /* max-height: 512px; */
    background-color: white;
    align-items: center;
    margin: 0;
    border-radius: 6px;
}

.card {
    /* background-color: #fff; */
    border-radius: 6px;
    /* max-width: 100%; */
    position: relative;
}

.deploy {
    background-color: #F2F5F9;
    border-radius: 6px 6px 0px 0px;
    padding: 24px 0 20px 0;
    text-align: center;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    color: #031A4F;
}

.card-content {
    padding: 32px;
}

.sign-email {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 16px;
}

.card-buttons {
    /* padding: 32px; */
    width: 100%;
    font-size: 16px;
    /* padding: 32px; */
}

.card-buttons .btn-primary:hover{
    color: #363636;
    background-color: white;
    border: 1px solid #363636;
}

.google-button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.git-button {
    width: 50px;
    padding: 13px;
    float: left;
}

/* logogrid */

.logogrid {
    background-color: #f3f5f9;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0 auto;
}

.innovative {
    color: #5b6987;
    font-size: 15px;
    font-weight: bold;
}

.logogrid-logo {
    float: left;
    align-items: center;
    margin-top: 20px;
}

.logogrid-img {
    margin-left:20px;
    margin-right:20px;
}

@media (min-width: 768px) {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 992px) {

    .navbar-collapse.collapse {
        display: block !important;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }
}
